<h1>Account#list</h1>
<p>Find me in app/views/account/list.html.erb</p>

<% if @accounts.nil? || @accounts.length < 1 %>
<p>No Accounts yet</p>
<% else %>
<ul>
<%      @accounts.each do |account| %>
<li>ID: <%= account.id %> Email: <%= account.email %></li>

<% 	    end %>
</ul>
<% end %>
